
{% extends 'layout.html' %}

{% block content %}

<div class="banner_new">
    <div>
            <img src="{{assetsHost}}/admin/sliderpic/bigpic/20150822103327542.jpg" width="2560" height="540">
    </div>
</div>

    <div class="indexTitle">经典案例</div>
    <div class="yangpian" id="yp1">

                <div>
                    <a href="piclist?albumId={{data[0].result[0].id}}">
                        <img src="http://121.40.228.45/upload{{data[0].result[0].indexPicLink}}" width="2560" height="675"
                             alt="{{data[0].result[0].title}}" /></a>
                </div>

                <div>
                    <a href="piclist?albumId={{data[0].result[1].id}}">
                        <img src="http://121.40.228.45/upload{{data[0].result[1].indexPicLink}}" width="2560" height="675"
                             alt="{{data[0].result[1].title}}" /></a>
                </div>

                <div>
                    <a href="piclist?albumId={{data[0].result[2].id}}">
                        <img src="http://121.40.228.45/upload{{data[0].result[2].indexPicLink}}" width="2560" height="675"
                             alt="{{data[0].result[2].title}}" /></a>
                </div>


        <ul>

                    <li class="s1"><a href="javascript:;"><small></small><strong>{{data[0].result[0].title}}</strong>
                        <p>{{data[0].result[0].description}}</p>
                    </a></li>

                    <li class="s2"><a href="javascript:;"><small></small><strong>{{data[0].result[1].title}}</strong>
                        <p>{{data[0].result[1].description}}</p>
                    </a></li>

                    <li class="s3"><a href="javascript:;"><small></small><strong>{{data[0].result[2].title}}</strong>
                        <p>{{data[0].result[2].description}}</p>
                    </a></li>

        </ul>
    </div>
    <div class="indexMore"><a href="/albumList?id=1" target="_blank" title="更多经典案例" class="m2"></a></div>
    <div class="line"></div>

    <div class="indexTitle">高端定制</div>
    <div class="yangpian" id="yp2">
        <div>
            <a href="piclist?albumId={{data[1].result[0].id}}">
                <img src="http://121.40.228.45/upload{{data[1].result[0].indexPicLink}}" width="2560" height="675"
                     alt="{{data[1].result[0].title}}" /></a>
        </div>

        <div>
            <a href="piclist?albumId={{data[1].result[1].id}}">
                <img src="http://121.40.228.45/upload{{data[1].result[1].indexPicLink}}" width="2560" height="675"
                     alt="{{data[1].result[1].title}}" /></a>
        </div>

        <div>
            <a href="piclist?albumId={{data[1].result[2].id}}">
                <img src="http://121.40.228.45/upload{{data[1].result[2].indexPicLink}}" width="2560" height="675"
                     alt="{{data[1].result[2].title}}" /></a>
        </div>

        <ul>

            <li class="s1"><a href="javascript:;"><small></small><strong>{{data[1].result[0].title}}</strong>
                <p>{{data[1].result[0].description}}</p>
            </a></li>

            <li class="s2"><a href="javascript:;"><small></small><strong>{{data[1].result[1].title}}</strong>
                <p>{{data[1].result[1].description}}</p>
            </a></li>

            <li class="s3"><a href="javascript:;"><small></small><strong>{{data[1].result[2].title}}</strong>
                <p>{{data[1].result[2].description}}</p>
            </a></li>

        </ul>
    </div>
    <div class="indexMore"><a href="/albumList?id=3" target="_blank" title="更多高端定制" class="m2"></a></div>
    <div class="line"></div>


<div class="indexTitle">优惠活动</div>
<div class="yangpian" id="yp3">
    <div>
        <a href="piclist?albumId={{data[2].result[0].id}}">
            <img src="http://121.40.228.45/upload{{data[2].result[0].indexPicLink}}" width="2560" height="675"
                 alt="{{data[2].result[0].title}}" /></a>
    </div>

    <div>
        <a href="piclist?albumId={{data[2].result[1].id}}">
            <img src="http://121.40.228.45/upload{{data[2].result[1].indexPicLink}}" width="2560" height="675"
                 alt="{{data[2].result[1].title}}" /></a>
    </div>

    <div>
        <a href="piclist?albumId={{data[2].result[2].id}}">
            <img src="http://121.40.228.45/upload{{data[2].result[2].indexPicLink}}" width="2560" height="675"
                 alt="{{data[2].result[2].title}}" /></a>
    </div>

    <ul>

        <li class="s1"><a href="javascript:;"><small></small><strong>{{data[2].result[0].title}}</strong>
            <p>{{data[2].result[0].description}}</p>
        </a></li>

        <li class="s2"><a href="javascript:;"><small></small><strong>{{data[2].result[1].title}}</strong>
            <p>{{data[2].result[1].description}}</p>
        </a></li>

        <li class="s3"><a href="javascript:;"><small></small><strong>{{data[2].result[2].title}}</strong>
            <p>{{data[2].result[2].description}}</p>
        </a></li>

    </ul>
</div>
<div class="indexMore"><a href="/albumList?id=4" target="_blank" title="更多优惠活动" class="m2"></a></div>
<div class="line"></div>



    <div class="guest">
        <div class="pin">

            <div class="box g1">

                <a href="priceList">
                    <img src="http://121.40.228.45/upload{{data[3].result[0].link}}" width="287" height="424" />
                    <ins><span>
                        <p>{{data[3].result[0].title}}</p>
                        <strong>{{data[3].result[0].description}}</strong></ins><tt><span>
                           <p>{{data[3].result[0].subTitle}}</p></span></tt><font></font></a>
            </div>
            <div class="box g2">

                <a href="priceList">
                    <img src="http://121.40.228.45/upload{{data[3].result[1].link}}" width="287" height="424" />
                    <ins><span>
                                <p>{{data[3].result[1].title}}</p>
                                <strong>{{data[3].result[1].description}}</strong></ins><tt><span>
                                   <p>{{data[3].result[1].subTitle}}</p></span></tt><font></font></a>
            </div>
            <div class="box g1">

                <a href="priceList">
                    <img src="http://121.40.228.45/upload{{data[3].result[2].link}}" width="287" height="424" />
                    <ins><span>
                                <p>{{data[3].result[2].title}}</p>
                                <strong>{{data[3].result[2].description}}</strong></ins><tt><span>
                                   <p>{{data[3].result[2].subTitle}}</p></span></tt><font></font></a>
            </div>
            <div class="box g2">

                <a href="priceList">
                    <img src="http://121.40.228.45/upload{{data[3].result[3].link}}" width="287" height="424" />
                    <ins><span>
                                <p>{{data[3].result[3].title}}</p>
                                <strong>{{data[3].result[3].description}}</strong></ins><tt><span>
                                   <p>{{data[3].result[3].subTitle}}</p></span></tt><font></font></a>
            </div>
            <div class="box g1">

                <a href="priceList">
                    <img src="http://121.40.228.45/upload{{data[3].result[4].link}}" width="287" height="424" />
                    <ins><span>
                                <p>{{data[3].result[4].title}}</p>
                                <strong>{{data[3].result[4].description}}</strong></ins><tt><span>
                                   <p>{{data[3].result[4].subTitle}}</p></span></tt><font></font></a>
            </div>
            <div class="box g2">

                <a href="priceList">
                    <img src="http://121.40.228.45/upload{{data[3].result[5].link}}" width="287" height="424" />
                    <ins><span>
                                <p>{{data[3].result[5].title}}</p>
                                <strong>{{data[3].result[5].description}}</strong></ins><tt><span>
                                   <p>{{data[3].result[5].subTitle}}</p></span></tt><font></font></a>
            </div>
            <div class="box g1">

                <a href="priceList">
                    <img src="http://121.40.228.45/upload{{data[3].result[6].link}}" width="287" height="424" />
                    <ins><span>
                                <p>{{data[3].result[6].title}}</p>
                                <strong>{{data[3].result[6].description}}</strong></ins><tt><span>
                                   <p>{{data[3].result[6].subTitle}}</p></span></tt><font></font></a>
            </div>
            <div class="box g2">

                <a href="priceList">
                    <img src="http://121.40.228.45/upload{{data[3].result[7].link}}" width="287" height="424" />
                    <ins><span>
                                <p>{{data[3].result[7].title}}</p>
                                <strong>{{data[3].result[7].description}}</strong></ins><tt><span>
                                   <p>{{data[3].result[7].subTitle}}</p></span></tt><font></font></a>
            </div>


        </div>
    </div>
    <div class="indexMore"><a href="love.html" target="_blank" class="m5"></a></div>
    <div class="line"></div>

    <div class="indexTitle">联系我们 天旨力合杭州总部地址</a></div>

        <div class="map_sy">


                    <a href="http://map.baidu.com/?newmap=1&ie=utf-8&s=s%26wd%3D%E5%A4%A9%E6%97%A8%E5%8A%9B%E5%90%88" title="首页联系天旨力合广告图" target="_blank">
                        <img src="{{assetsHost}}/newimages/replace/localtion/localtion.jpg" alt="首页联系天旨力合广告图" width="100%"/>
                    </a>

        </div>

                <div class="lx_index">
                    <ins>
                        <p>滨江区滨兴路1451号华盛达广场1楼</p>
                    </ins>
                    <tt></tt>
                    <big>
                        <a href="http://wpa.qq.com/msgrd?v=3&uin=721799078&site=qq&menu=yes" target="_blank">
                            <img src="{{assetsHost}}/theme/bg/bg24.png" /></a>
                        <a href="http://weibo.com/mrjvision" target="_blank" title="微博">
                            <img src="{{assetsHost}}/theme/bg/bg25.png" /></a>
                        <a href="weixin.html" target="_blank" title="微信">
                            <img src="{{assetsHost}}/theme/bg/bg26.png" /></a>
                    </big>
                    <samp>
                        <p>400-8090222</p>
                    </samp>
                </div>




<script>
    if($("#yp3 ul li").size()>0){
        $("#yp3 ul").tabs("#yp3 > div",
                {effect: 'fade',loop:true,fadeOutSpeed:1000,fadeInSpeed:1000,rotate: true,event:'mouseover'}).slideshow({autoplay:true,interval: 4000});
    }
</script>

{% endblock %}
