
{% extends 'layout.html' %}

{% block content %}

<div class="banner_new">
    <div>
        <a href="http://www7.53kf.com/webCompany.php?arg=10049929&style=1&kflist=off&kf=721799078%40qq.com%2C721799082%40qq.com%2C2850630889%40qq.com%2C721799089%40qq.com%2C721799084%40qq.com%2C601875000%40qq.com&zdkf_type=1&language=zh-cn&charset=gbk&username=&userinfo=&i" target="_blank">
            <img src="{{assetsHost}}/admin/sliderpic/bigpic/20150822103327542.jpg" width="2560" height="540">
    </div>
</div>





    <div class="indexTitle">高端定制</div>

    <div class="indexImgs">

                <a href="yangpian.html" title="2015最新样片风格列队更新中" target="_blank">
                    <img src="{{assetsHost}}/admin/upload/index/20150708105644084.jpg" width="590" height="455" alt="2015最新样片风格列队更新中" /></a>



                <a href="huodong/16/index.html" title="最新客照" target="_blank">
                    <img src="{{assetsHost}}/admin/upload/index/20150708105810242.jpg" alt="最新客照" width="295" height="455" /></a>

                <a href="huodong/23/index.html" title="最新样片" target="_blank">
                    <img src="{{assetsHost}}/admin/upload/index/20150819181955673.jpg" alt="最新样片" width="295" height="455" /></a>


                <a href="pingJia.html" title="口碑力量" target="_blank">
                    <img src="{{assetsHost}}/admin/upload/index/20150213111645667.jpg" alt="口碑力量" width="305" height="295" /></a>


                <a href="huodong/11/index.html" title="天旨力合时尚文化馆 璀璨开幕" target="_blank">
                    <img src="{{assetsHost}}/admin/upload/index/20150213111658418.jpg" alt="天旨力合时尚文化馆 璀璨开幕" width="285" height="296" /></a>


                <a href="http://www7.53kf.com/webCompany.php?arg=10049929&style=1&kflist=off&kf=721799078%40qq.com%2C721799082%40qq.com%2C2850630889%40qq.com%2C721799089%40qq.com%2C721799084%40qq.com%2C601875000%40qq.com&zdkf_type=1&language=zh-cn&charset=gbk&username=&userinfo=&i" title="全国唯一指定特惠通道" target="_blank">
                    <img src="{{assetsHost}}/admin/upload/index/20150513130412764.jpg" alt="全国唯一指定特惠通道" width="295" height="295" /></a>

                <a href="hunsha/zhuti_28/index.html" title="唐顿庄园" target="_blank">
                    <img src="{{assetsHost}}/admin/upload/index/20150213111723761.jpg" alt="唐顿庄园" width="295" height="295" /></a>

    </div>
    <div class="indexMore"><a href="news.html" target="_blank" title="最新资讯" class="m1"></a></div>
    <div class="line"></div>

    <div class="indexTitle">经典案例</div>
    <div class="yangpian" id="yp1">

                <div>
                    <a href="piclist?albumId={{data[0].result[0].id}}">
                        <img src="http://121.40.228.45/upload{{data[0].result[0].indexPicLink}}" width="2560" height="675"
                             alt="{{data[0].result[0].title}}" /></a>
                </div>

                <div>
                    <a href="piclist?albumId={{data[0].result[1].id}}">
                        <img src="http://121.40.228.45/upload{{data[0].result[1].indexPicLink}}" width="2560" height="675"
                             alt="{{data[0].result[1].title}}" /></a>
                </div>

                <div>
                    <a href="piclist?albumId={{data[0].result[2].id}}">
                        <img src="http://121.40.228.45/upload{{data[0].result[2].indexPicLink}}" width="2560" height="675"
                             alt="{{data[0].result[2].title}}" /></a>
                </div>


        <ul>

                    <li class="s1"><a href="javascript:;"><small></small><strong>{{data[0].result[0].title}}</strong>
                        <p>{{data[0].result[0].description}}</p>
                    </a></li>

                    <li class="s2"><a href="javascript:;"><small></small><strong>{{data[0].result[1].title}}</strong>
                        <p>{{data[0].result[1].description}}</p>
                    </a></li>

                    <li class="s3"><a href="javascript:;"><small></small><strong>{{data[0].result[2].title}}</strong>
                        <p>{{data[0].result[2].description}}</p>
                    </a></li>

        </ul>
    </div>
    <div class="indexMore"><a href="yangpian.html" target="_blank" title="更多经典案例" class="m2"></a></div>
    <div class="line"></div>

    <div class="indexTitle">高端定制</div>
    <div class="yangpian" id="yp2">
        <div>
            <a href="piclist?albumId={{data[1].result[0].id}}">
                <img src="http://121.40.228.45/upload{{data[1].result[0].indexPicLink}}" width="2560" height="675"
                     alt="{{data[1].result[0].title}}" /></a>
        </div>

        <div>
            <a href="piclist?albumId={{data[1].result[1].id}}">
                <img src="http://121.40.228.45/upload{{data[1].result[1].indexPicLink}}" width="2560" height="675"
                     alt="{{data[1].result[1].title}}" /></a>
        </div>

        <div>
            <a href="piclist?albumId={{data[1].result[2].id}}">
                <img src="http://121.40.228.45/upload{{data[1].result[2].indexPicLink}}" width="2560" height="675"
                     alt="{{data[1].result[2].title}}" /></a>
        </div>

        <ul>

            <li class="s1"><a href="javascript:;"><small></small><strong>{{data[1].result[0].title}}</strong>
                <p>{{data[1].result[0].description}}</p>
            </a></li>

            <li class="s2"><a href="javascript:;"><small></small><strong>{{data[1].result[1].title}}</strong>
                <p>{{data[1].result[1].description}}</p>
            </a></li>

            <li class="s3"><a href="javascript:;"><small></small><strong>{{data[1].result[2].title}}</strong>
                <p>{{data[1].result[2].description}}</p>
            </a></li>

        </ul>
    </div>
    <div class="indexMore"><a href="case.html" target="_blank" title="更多高端定制" class="m2"></a></div>
    <div class="line"></div>

    <div class="indexTitle">优惠活动</div>

    <div class="fashion">

                <div>
                    <a href="huodong/22/index.html" title="写真作品" target="_blank">
                        <img src="{{assetsHost}}/admin/upload/index/20150213111736996.jpg" alt="写真作品" width="2560" height="685" /></a>
                </div>

    </div>
    <div class="Center">
        <div class="home_menu">
            <ul>

                        <li><a href="xieZhen_detail/20150726130141440.html" title="miss candy"><i>
                            <img src="{{assetsHost}}/admin/upload/Location/20150726130128408.jpg" width="400" height="540" alt="miss candy" /></i><ins>
                                <img src="{{assetsHost}}/theme/bg/bg33.png" alt="" /><img src="{{assetsHost}}/theme/bg/bg34.png" alt="" />
                                <p>miss candy...</p>
                            </ins><tt></tt></a></li>

                        <li><a href="xieZhen_detail/20150726133438227.html" title="PUSSYCATS"><i>
                            <img src="{{assetsHost}}/admin/upload/Location/20150726133428930.jpg" width="400" height="540" alt="PUSSYCATS" /></i><ins>
                                <img src="{{assetsHost}}/theme/bg/bg33.png" alt="" /><img src="{{assetsHost}}/theme/bg/bg34.png" alt="" />
                                <p>PUSSYCATS...</p>
                            </ins><tt></tt></a></li>

                        <li><a href="xieZhen_detail/20150726132354200.html" title="baby summer"><i>
                            <img src="{{assetsHost}}/admin/upload/Location/20150726132349574.jpg" width="400" height="540" alt="baby summer" /></i><ins>
                                <img src="{{assetsHost}}/theme/bg/bg33.png" alt="" /><img src="{{assetsHost}}/theme/bg/bg34.png" alt="" />
                                <p>baby summer...</p>
                            </ins><tt></tt></a></li>

                        <li><a href="xieZhen_detail/20150726130706633.html" title="CYTHESEA"><i>
                            <img src="{{assetsHost}}/admin/upload/Location/20150726133036895.jpg" width="400" height="540" alt="CYTHESEA" /></i><ins>
                                <img src="{{assetsHost}}/theme/bg/bg33.png" alt="" /><img src="{{assetsHost}}/theme/bg/bg34.png" alt="" />
                                <p>CYTHESEA...</p>
                            </ins><tt></tt></a></li>

                        <li><a href="xieZhen_detail/20150726130328973.html" title="rock queen"><i>
                            <img src="{{assetsHost}}/admin/upload/Location/20150726130323535.jpg" width="400" height="540" alt="rock queen" /></i><ins>
                                <img src="{{assetsHost}}/theme/bg/bg33.png" alt="" /><img src="{{assetsHost}}/theme/bg/bg34.png" alt="" />
                                <p>rock queen...</p>
                            </ins><tt></tt></a></li>

                        <li><a href="xieZhen_detail/20150726132657375.html" title="FAIR LADY"><i>
                            <img src="{{assetsHost}}/admin/upload/Location/20150726132652828.jpg" width="400" height="540" alt="FAIR LADY" /></i><ins>
                                <img src="{{assetsHost}}/theme/bg/bg33.png" alt="" /><img src="{{assetsHost}}/theme/bg/bg34.png" alt="" />
                                <p>FAIR LADY...</p>
                            </ins><tt></tt></a></li>

            </ul>
        </div>

    </div>

    <div class="indexMore"><a href="xiezhen.html" target="_blank" title="时尚定制" class="m3"></a></div>
    <div class="line"></div>

    <div class="indexTitle"><a href="xiezhen.html" target="_blank" title="礼服展示" class="t5"></a></div>

   <div class="indexText">

    </div>

    <div class="weddingDress">

                <span><a href="index.html" title="礼服展示" target="_blank">
                    <img src="{{assetsHost}}/admin/upload/index/a9.jpg" alt="礼服展示" width="588" height="452" /></a></span>

        <div class="right">

                    <a href="index.html" title="首页礼服展示2" target="_blank">
                        <div class="open">
                            <img src="{{assetsHost}}/theme/bg/more2.png" />
                        </div>
                        <div class="content" style="background: url('admin/upload/index/a10.jpg') no-repeat center center;">
                            <div class="mask"></div>
                            <div class="mask mask2"></div>
                        </div>
                    </a>

        </div>

    </div>
    <div class="indexMore"><a href="xiezhen.html" target="_blank" title="礼服展示" class="m4"></a></div>
    <div class="line"></div>

    <div class="guest">
        <div class="pin">

                    <div class="box g1">

                        <a href="love_detail/20150801165603704.html" title="Mr： 孔 Mrs：朱">
                            <img src="{{assetsHost}}/admin/upload/Location/20150802115453626.jpg" alt="Mr： 孔 Mrs：朱" width="287" height="424" />
                            <ins><span>
                                <img src="{{assetsHost}}/theme/bg/num01.png" /></span>
                                <p>Mr： 孔 Mrs：朱...</p>
                                <strong>time:2015.08.02</strong></ins><tt><span>
                                    <img src="{{assetsHost}}/theme/bg/num_01.png" /></span></tt><font></font></a>
                    </div>

                    <div class="box g2">

                        <a href="love_detail/20150801124511525.html" title="Mr:田">
                            <img src="{{assetsHost}}/admin/upload/Location/20150802115432594.jpg" alt="Mr:田" width="287" height="424" />
                            <ins><span>
                                <img src="{{assetsHost}}/theme/bg/num02.png" /></span>
                                <p>Mr:田</p>
                                <strong>time:2015.08.02</strong></ins><tt><span>
                                    <img src="{{assetsHost}}/theme/bg/num_02.png" /></span></tt><font></font></a>
                    </div>

                    <div class="box g1">

                        <a href="love_detail/20150608135332815.html" title="Mr：张  Mrs：尚">
                            <img src="{{assetsHost}}/admin/upload/Location/20150609150427133.jpg" alt="Mr：张  Mrs：尚" width="287" height="424" />
                            <ins><span>
                                <img src="{{assetsHost}}/theme/bg/num03.png" /></span>
                                <p>Mr：张  Mrs：尚...</p>
                                <strong>time:2015.06.09</strong></ins><tt><span>
                                    <img src="{{assetsHost}}/theme/bg/num_03.png" /></span></tt><font></font></a>
                    </div>

                    <div class="box g2">

                        <a href="love_detail/20150801114220296.html" title="Mr:俊">
                            <img src="{{assetsHost}}/admin/upload/Location/20150802115511923.jpg" alt="Mr:俊" width="287" height="424" />
                            <ins><span>
                                <img src="{{assetsHost}}/theme/bg/num04.png" /></span>
                                <p>Mr:俊</p>
                                <strong>time:2015.08.02</strong></ins><tt><span>
                                    <img src="{{assetsHost}}/theme/bg/num_04.png" /></span></tt><font></font></a>
                    </div>

                    <div class="box g1">

                        <a href="love_detail/20150521125503134.html" title="Mr：黄  Mrs：傅">
                            <img src="{{assetsHost}}/admin/upload/Location/20150521125458524.jpg" alt="Mr：黄  Mrs：傅" width="287" height="424" />
                            <ins><span>
                                <img src="{{assetsHost}}/theme/bg/num05.png" /></span>
                                <p>Mr：黄  Mrs：傅...</p>
                                <strong>time:2015.05.21</strong></ins><tt><span>
                                    <img src="{{assetsHost}}/theme/bg/num_05.png" /></span></tt><font></font></a>
                    </div>

                    <div class="box g2">

                        <a href="love_detail/20150511173127314.html" title="Mr：候  Mrs：韩">
                            <img src="{{assetsHost}}/admin/upload/Location/20150609151753612.jpg" alt="Mr：候  Mrs：韩" width="287" height="424" />
                            <ins><span>
                                <img src="{{assetsHost}}/theme/bg/num06.png" /></span>
                                <p>Mr：候  Mrs：韩...</p>
                                <strong>time:2015.06.09</strong></ins><tt><span>
                                    <img src="{{assetsHost}}/theme/bg/num_06.png" /></span></tt><font></font></a>
                    </div>

                    <div class="box g1">

                        <a href="love_detail/20150511172650716.html" title="Mr：马  Mrs：谢">
                            <img src="{{assetsHost}}/admin/upload/Location/20150511195109173.jpg" alt="Mr：马  Mrs：谢" width="287" height="424" />
                            <ins><span>
                                <img src="{{assetsHost}}/theme/bg/num07.png" /></span>
                                <p>Mr：马  Mrs：谢...</p>
                                <strong>time:2015.05.11</strong></ins><tt><span>
                                    <img src="{{assetsHost}}/theme/bg/num_07.png" /></span></tt><font></font></a>
                    </div>

                    <div class="box g2">

                        <a href="love_detail/20150608134942060.html" title="Mr：沈  Mrs：姜">
                            <img src="{{assetsHost}}/admin/upload/Location/20150609145854207.jpg" alt="Mr：沈  Mrs：姜" width="287" height="424" />
                            <ins><span>
                                <img src="{{assetsHost}}/theme/bg/num08.png" /></span>
                                <p>Mr：沈  Mrs：姜...</p>
                                <strong>time:2015.06.09</strong></ins><tt><span>
                                    <img src="{{assetsHost}}/theme/bg/num_08.png" /></span></tt><font></font></a>
                    </div>

        </div>
    </div>
    <div class="indexMore"><a href="love.html" target="_blank" class="m5"></a></div>
    <div class="line"></div>

    <div class="indexTitle"><a href="contact.html" target="_blank" class="t7"></a></div>
    <div class="lianxi">
        <div class="map_sy">


                    <a href="map/index.html" title="首页联系天旨力合广告图" target="_blank">
                        <img src="{{assetsHost}}/newimages/replace/localtion/localtion.jpg" alt="首页联系天旨力合广告图" width="2560" height="882" />
                    </a>

        </div>

                <div class="lx_index">
                    <ins>
                        <p>杭州市滨江区滨兴路1451号华盛达广场B座</p>
                    </ins>
                    <tt></tt>
                    <big>
                        <a href="http://wpa.qq.com/msgrd?v=3&uin=721799078&site=qq&menu=yes" target="_blank">
                            <img src="{{assetsHost}}/theme/bg/bg24.png" /></a>
                        <a href="http://weibo.com/mrjvision" target="_blank" title="微博">
                            <img src="{{assetsHost}}/theme/bg/bg25.png" /></a>
                        <a href="weixin.html" target="_blank" title="微信">
                            <img src="{{assetsHost}}/theme/bg/bg26.png" /></a>
                    </big>
                    <samp>
                        <p>400-8090222</p>
                    </samp>
                </div>

    </div>

    <div class="indexTitle"><a href="news.html" target="_blank" title="热门新闻" class="t8"></a></div>
    <div class="indexNews_1">
        <ul>

                    <li>
                        <a href="news_detail/20141212103949540.html" title="自然婚拍 情感与影像的二重奏"><tt></tt>
                            <img src="{{assetsHost}}/admin/upload/new/20141212102349721.jpg" title="自然婚拍 情感与影像的二重奏" alt="自然婚拍 情感与影像的二重奏"  width="93" height="93" />
                            <ins>
                                <font>post time:2014-12-12 10:39:49<span>read:2316</span></font>
                                <samp>自然婚拍 情感与影像的二...</samp>
                                <p>    客户的认知转变了，潮流转变了，我们对“美的观念转变了。自然风格也好，纪实风格也罢，都是在这种思路下的需求，就看我们能不能走在前...</p>
                                <em>点击查看详情</em>
                            </ins>
                        </a>
                    </li>

                    <li>
                        <a href="news_detail/20141211142914592.html" title="想要不一样的 unique style婚纱照 吗?"><tt></tt>
                            <img src="{{assetsHost}}/admin/upload/new/20141211134708475.jpg" title="想要不一样的 unique style婚纱照 吗?" alt="想要不一样的 unique style婚纱照 吗?"  width="93" height="93" />
                            <ins>
                                <font>post time:2014-12-11 14:29:14<span>read:1764</span></font>
                                <samp>想要不一样的 unique styl...</samp>
                                <p>　   现在的结婚人群是属于80后与90后的人们，这些80,90后是现在结婚热潮的主力军;他们都不断的追求着时尚style的元素。
      而作为时尚...</p>
                                <em>点击查看详情</em>
                            </ins>
                        </a>
                    </li>

               

        </ul>
    </div>


{% endblock %}
