{% extends 'adminLayout.html' %}
{% block content %}

<div class="container">
  <div class="page-header">
  <h1>创建经典案例
      <small><a href="/list?passwork=Tzlh1234&moduleId=1">编辑经典案例</a></small>
  </h1>
</div>

  <form data-id="1">
    <input type="hidden" value="1" name="moduleId">
    <div class="input-group">
      <span class="input-group-addon">标题</span>
      <input type="text" class="form-control" name="title" placeholder="标题" aria-describedby="basic-addon1">
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon">描述</span>
      <input type="text" class="form-control" placeholder="描述" name="description" aria-describedby="basic-addon1">
    </div>
    <br>
    <button type="submit" class="btn btn-success">保存</button>
  </form>

 <div class="page-header">
  <h1>创建高端定制
      <small>
          <a href="/list?passwork=Tzlh1234&moduleId=3">编辑高端定制</a>
      </small></h1>
</div>

  <form data-id="3">
    <input type="hidden" value="3" name="moduleId">
    <div class="input-group">
      <span class="input-group-addon">标题</span>
      <input type="text" class="form-control" name="title" placeholder="标题" aria-describedby="basic-addon1">
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon">描述</span>
      <input type="text" class="form-control" name="description" placeholder="描述" aria-describedby="basic-addon1">
    </div>
    <br>
   <button type="submit" class="btn btn-success">保存</button>
  </form>

<div class="page-header">
  <h1>创建优惠活动<small>
      <a href="/list?passwork=Tzlh1234&moduleId=4">编辑优惠活动</a>
  </small></h1>
</div>

  <form data-id="4">
    <input type="hidden" value="4" name="moduleId">
    <div class="input-group">
      <span class="input-group-addon">标题</span>
      <input type="text" class="form-control" name="title" placeholder="标题" aria-describedby="basic-addon1">
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon">描述</span>
      <input type="text" class="form-control" name="description" placeholder="描述" aria-describedby="basic-addon1">
    </div>
    <br>

    <br>
    <button type="submit" class="btn btn-success">保存</button>
  </form>


  </div>
   <br>
    <br>
     <br>

</div>
</body>

<script type="text/javascript">
  $("form").submit(function(e) {
    e.preventDefault();
    var data = $(this).serialize();
    var id = $(this).data("id");
    $.ajax({
      type:"POST",
      url:"http://121.40.228.45:8080/wedding/wedding/api/album/save",
      data:data,
      success:function(res){
        console.log(res)
        if(res.success){
          window.location.href = "/upload?moduleId="+id+"&id="+res.result.id+"&password=Thlz1234";
        }
      }
    });
    return false;
  })

</script>
</html>

{% endblock %}
